<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rockstars_ITtrainees</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
                
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.teamrockstars.nl/sites/default/files/global_settings/logo-rockstars%402x_2.png" width="100" height="90" /></a>
        <span class="navbar-text">Tech Burst</span>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav">                
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ViewUsers">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TestPage">Test page</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3 col-md-auto">
            @RenderBody()
        </main>
    </div>

</body>
</html>