@model ITtrainees.Models.Account

@{
    ViewData["Title"] = "Account";
}
<body>
    <div class="container text-light">
        <div class="text-light column align-items-center center-page">
            <h1>Account</h1>
            <hr />

            <div class="row" style="border-top:solid; border-color:#ffe000;">
                <div class="col-md-5 mt-3">
                    <div class="row">
                        <p class="font-weight-bold mr-2">User ID: </p><p>@Model.AccountID</p>
                    </div>
                    <div class="row">
                        <p class="font-weight-bold mr-2">UserName: </p><p>@Model.Name</p>
                    </div><div class="row">
                        <p class="font-weight-bold mr-2">Number of points earned: </p><p>@Model.Points</p>
                    </div><div class="row">
                        <p class="font-weight-bold mr-2">Admin: </p><p>@Model.IsAdmin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

