@model ITtrainees.MVC.Models.LoginViewModel

@{
    ViewData["Titel"] = "Login";
}
<body>
    <div class="text-white ml-3 text-center">
        <div class="container" style=" border-bottom:solid; border-color:#ffe000; max-width:500px;">
            <h2><b>Login to your Rockstars account</b></h2>


            <h4><b>Fill in your details below</b></h4>
        </div>


        <div class="container mt-5">
            <div class="column align-items-center center-page" style="max-width:200px;">
                <div class="text-center">
                    <form asp-action="Login" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn yellow_bg" />
                        </div>
                    </form>
                </div>
                <div class="break"></div>
            </div>
        </div>
    </div>
</body>


