@model ITtrainees.MVC.Models.LoginViewModel

@{
    ViewData["Titel"] = "Login";
}

<div class="text-white">
    <h2><b>Do the login</b></h2>


    <h4><b>enter the user things</b></h4>

    <hr />
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn yellow_bg"/>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <label>No account? Register here</label>
            <input class="yellow_bg" type="button" value="Register" onclick="location.href='Register'" />
        </div>
    </div>
</div>

