@model ITtrainees.Models.Article
@{
    ViewData["Title"] = "ArticleUpload";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
    <div class="text-light container-himg">
        <img class="card-img-top card-image" src="data:image/png;base64, @Model.HeaderImage" alt="placeholder">
        <h2 class="card-title centered-title">@Model.Title</h2>
        <p class="card-author centered-author">@Model.Author</p>
        <div class="back-btn pt-3 tl-back">
            <a class="btn text-dark yellow_bg" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>

    <div class="row">
        <div class='issuu-embed-container col-9'>
            <iframe src="data:application/pdf;base64,@Model.Content" frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
</body>