@using ITtrainees.MVC.APITools;
@using ITtrainees.Models;
@{
    APIHelper.InitializeClient();
    Article article = await ArticleOperations.getArticle(0);
    ViewData["Title"] = article.Title;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
