@model ITtrainees.Models.Article

<div class="text-center">
    @Html.DisplayFor(m => m.Title)
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
