@model List<ITtrainees.Models.Article>
@{
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
    <style>

        .cardStyling {
            width: 18rem;
        }

        .height {
            min-height: 500px;
        }

        .width {
            min-width: 100%;
        }

        .noMargin {
            margin: 0 !important;
        }
    </style>

    <div class="container mt-5 height width justify-content-md-center">
        <div class="row">

            <div class="col-1">
                <button class="prev btn text-muted bg-dark align-middle h-100"><</button>
            </div>

            <div class="col-10">
                <div class="siema">
                    @{foreach (var article in Model)
                        {
                            <div class="card cardStyling">
                                <img class="card-img-top card-image" src="~/Assets/grey-square.jpg" alt="placeholder">
                                <div class="card-body text-muted bg-dark">
                                    <h5 class="card-title">@article.Title</h5>
                                    <p class="card-text">@article.Summary</p>
                                    <p class="card-author">@article.Author</p>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>

            <div class="col-1">
                <button class="next btn text-muted bg-dark align-middle h-100">></button>
            </div>

        </div>
    </div>

    <!-- Include Siema library -->
    <script type="text/javascript" src="~/js/siema.min.js"></script>

    <!-- Initiate Siema -->
    <script type="text/javascript">

        const mySiema = new Siema({
            selector: '.siema',
            duration: 200,
            easing: 'ease-out',
            perPage: 5,
            startIndex: 0,
            draggable: true,
            multipleDrag: true,
            threshold: 20,
            loop: true,
            rtl: false,
            onInit: () => { },
            onChange: () => { },
        });

        document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
        document.querySelector('.next').addEventListener('click', () => mySiema.next());

    </script>

</body>
